<div class="row">
<div class="col-11 p-0 mx-auto text-right">
    <button type="button" class="btn btn-default bg-light" [disabled]="(filterService.prod_wishlist | json)=='{}'" (click)="product_details(filterService.prod_wishlist)">
        Detail<span class="mdi mdi-chevron-right mdi-lg pr=0"></span> 
    </button>
</div>
</div>

<ng-container *ngIf="filterService.localwishlist.length==0">
    <div class="pl-4 pr-4 row">
        <div class="alert alert-warning col-11 mx-auto mt-4" role="alert">
           No records. 
        </div>
    </div>
</ng-container>

<ng-container *ngIf="filterService.localwishlist.length!=0">
    <div class="row">
    <div class="col-11 pl-3 pr-3 pl-md-4 pr-md-4 mx-auto table-responsive m-0 mt-4">
   
        
        <table class="table table-dark table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Shipping</th>
              <th scope="col">Seller</th>
              <th scope="col">Wish List</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let result of filterService.localwishlist;let i=index;" [ngStyle]="filterService.prod_wishlist.itmId==result.itmId && {'background-color': 'rgba(255,255,255,.7)'}">
              <td class=text-nowrap>{{i+1}}</td>
              <td class=text-nowrap><a href="{{result.galleryurl}}" target="_blank"><img src='{{result.galleryurl}}' style="height:6.5rem;width:6.5rem;"></a></td>
              <td class=text-nowrap><a class="text-primary" (click)="product_details(result)" tooltip="{{result.fulltitle}}" placement="bottom">{{result.shorttitle}}</a></td>
              <td class=text-nowrap>${{result.price}}</td>
              <td class=text-nowrap>{{result.shipping=='Free Shipping'? 'Free Shipping': '$'+result.shipping}}</td>
              <td class=text-nowrap>{{result.selleruser}}</td>
              <td class=text-nowrap> <button type="button" class="btn btn-default bg-light" (click)="wishremove(result)">
             <span class='mdi mdi-remove-shopping-cart mdi-lg' style="color:rgb(185, 134, 6)"></span> 
              </button></td>              
              </tr>
              <tr>
                <td></td><td></td><td></td><td></td><td></td>
                <th>Total Shopping</th><td>${{totalshopping()}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    
</ng-container>
